<h1>{{ titulo }}</h1>

<hr />

<h2>Cardápio</h2>

<form (ngSubmit)="onSubmit()">
  <ul>
    <li *ngFor="let prato of pratosOfertados">
      <input type="checkbox"
        name="pratos"
        value="{{prato}}"
        (change)="selecionarPrato()"
        [(ngModel)]="prato.checked">
      <strong>{{prato.nome}}</strong>
      <br>
      Acompanhamentos:
      <ul>
        <li *ngFor="let acompanhamento of prato.acompanhamentos">
          {{acompanhamento}}
        </li>
      </ul>
      Preço: R$ {{prato.preco.toFixed(2)}}
      <br><br>
    </li>
  </ul>
  Preço total do pedido: R$ {{precoTotal.toFixed(2)}}
  <br><br>
  <button type="submit">Finalizar pedido</button>
  <br>
  {{mensagem}}
</form>
